:root {
    /**
     * Appearance
     */
    --ligatures: none;
    --text-size: var(--font-size-body-4);
    --font: var(--font-family);
    --sidebar-active: var(--secondary-background);

    /**
     * Native
     */
    --titlebar-height: 29px;
    --titlebar-action-padding: 8px;
    --titlebar-logo-color: var(--secondary-foreground);

    /**
     * Layout
     */
    --app-height: 100vh;
    --scrollbar-thickness: var(--space-1);
    --scrollbar-thickness-ff: thin;
    --border-radius: var(--radius-md);
    --border-radius-half: 50%;

    --border-radius-user-icon: var(--border-radius-half);
    --border-radius-channel-icon: var(--border-radius-half);
    --border-radius-server-icon: var(--border-radius-half);

    --input-border-width: 1px;
    --textarea-padding: var(--space-4);
    --textarea-line-height: var(--space-5);
    --message-box-padding: var(--space-3) var(--space-3) var(--space-3)
        var(--space-0);

    --attachment-max-width: 400px;
    --attachment-max-height: 300px;
    --attachment-default-width: 400px;
    --attachment-max-text-width: 800px;

    --bottom-navigation-height: var(--space-12);
}
